*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f5f5f5;
}
.form-container {
  margin: 20px;
  width: 300px;
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

